body {
    
    display: grid;
    place-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
}

/*  boton  */
.row-container {
    display: flex;
    flex-direction:row-reverse;
    align-items: end;
}
.row {
    width: fit-content;
    padding: 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}
.row:hover {
    background-color: #0056b3;
}

.div {
    display: flex;
    justify-content: center;

}

.container_img {
    display: grid;
    place-items: center;
}